{% extends 'base.html' %}

{% block content %}
<title>Account</title>
<script type="text/javascript">
	function copy(num) {
		var copyText = document.getElementById('loc'+num);
		copyText.select();
		copyText.setSelectionRange(0, 99999)
		document.execCommand("copy");
		alert("Copied: " + copyText.value);
	}
</script>
<style>
* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 50%
	padding: 0 0px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

	/* Style the counter cards */
	.card {
	  padding: 15px;
	  text-align: left;
	  background-color: #fff;
	  margin-bottom: 30px;
	}
	.card:hover{
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.50));
	}


/*.form-control{
		  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
}*/
</style>

{% if request.user.is_authenticated %}



<div class="row">
  
	  <div class="column">
	    <div class="card">
	    	<form method="post">{% csrf_token %}
			<pre><b>Username: </b>{{user.username}}</pre>
			{% if user.phonenumber is None %}
				<pre><b>Phone Number:</b><input type="text" name="phonenumber" placeholder="Phone number"> <button class="btn btn-primary">Submit</button></pre>
			{% else %}
				<pre><b>Phone Number: </b>{{user.phonenumber}}</pre>
			{% endif %}
			<pre><b>Password: </b>{{user.password1}}</pre>
			</form>
			</div>

  		</div>
	{% if request.user.is_superuser %} 		
	  		{% for i in sales %}
				<div class="column">
					<div class="card">
					
		  				<pre><b>Employee:</b> {{i.employee_name}}</pre>
		  				<pre><b>Company:</b> {{i.companyname}}</pre>
		  				<pre><b>Bottles:</b> {{i.bottles}}</pre>
		  				<pre><b>Origial Amount:</b> {{i.original_amount}}</pre>
		  				<pre><b>Amount:</b> {{i.amount}}</pre>
		  				<pre><b>Date:</b> {{i.date}}</pre>
		  				<pre><b>Location:</b> <input type="text" id="loc{{i.id}}" value="{{i.location}}" > <button onclick="copy({{i.id}})" class="btn btn-primary">Copy</button></pre>
					</div>
				</div>
	  	{% endfor %}
	{% endif %} 

</div>

{% endif %}

{% endblock content %}