{% extends 'base.html' %}

{% block content %}
<title>Add Company</title>

<!-- <form method="post"> {% csrf_token %}
	<input type="text" name="employeename">
	{% for i in places %}
		<input type="checkbox" name="{{forloop.counter}}" value="{{i}}">{{i}}<br>
	{% endfor %}
		<button>Submit</button>
</form>
 -->

    <style>
      :root {
        --body: #ffffff;
        --text: #000;
        --text-light: #000;
        --primary: #000;
        --border: #bbbbbb;
        --padding: 14px 26px;
        --line-height: 24px;

      }

      body {
        background-color: var(--body);
      }

      .input-group {
        width: 300px;
        position: relative;
        border: 2px solid var(--border);
        border-radius: 8px;
        margin: 32px;
      }
      .input-group input {
        padding: var(--padding);
        border: none;
        background-color: transparent;
        width: 100%;
        color: var(--text);
        font-size: 16px;
        line-height: var(--line-height);
        outline: none;
      }

      .input-group:hover,
      .input-group:focus-within {
        border-color: var(--primary);
      }

      .input-group input:focus,
      .input-group:hover input {
        color: var(--primary);
      }

      .input-group label {
        position: absolute;
        background-color: transparent;
        padding: var(--padding);
        line-height: var(--line-height);
        top: 0;
        left: 0;
        bottom: 0;
        color: var(--text-light);
        cursor: text;
        letter-spacing: 2px;
      }

      .input-group:hover label {
        color: var(--primary);
      }

      .input-group:focus-within label,
      .input-group input:not(:placeholder-shown) ~ label {
        padding: 0px 8px;
        background-color: var(--body);
        top: -12px;
        left: 16px;
        bottom: auto;
        color: var(--text);
      }
    </style>
    <center style='margin-top: 90px;'>
    	<h3 style="letter-spacing: 2px;"><strong><u>விவரங்கள்</u></strong></h3>
		<form method="post" name="formname"> {% csrf_token %}
					<div class="input-group">
						<input type="text" name="company_name" id="company_name" placeholder=" " />
						<label for="company_name">Company Name</label>
					</div>
					<div class="input-group">
						<input type="text" name="phone" id="phone" placeholder=" " maxlength="10" />
						<label for="phone">Phone Number</label>
					</div>
					<div class="input-group">
						<input type="text" name="address" id='address' placeholder=" "/>
						<label for="address">Address</label>
					</div>
					{% if 'error' in error %}
						<p style="color: red;">தயவுசெய்து சரிபார்த்து படிவத்தை நிரப்பவும்</p>
					{% endif %}
					<button class="btn btn-primary">Submit</button>

		</form>
    </center>

{% endblock content %}