{% extends 'base.html' %}

{% block content %}
<title>Register</title>

<meta charset="UTF-8">
<title>Registration Form</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

/*body{
  background-color: #3aaf9f;
}*/

.wrapper{
  max-width: 350px;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 50px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.wrapper .title{
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #3aaf9f;
}

.wrapper .social_media{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.wrapper .social_media .item{
  margin: 0 5px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  transition: all 0.5s ease;
}

.wrapper .social_media .item:hover{
  border: 2px solid #3aaf9f;
  color: #3aaf9f;
}

.wrapper .form .input_field{
  position: relative;
  margin-bottom: 15px;

}

.wrapper .form .input_field .input{
  width: 100%;
  padding: 12px;
  padding-left: 30px;
  border: none;
  background: #eeeeee;
  border-radius: 10px;
}

.wrapper .form .btn{
  width: 70%;
  margin: 20px auto 0;
  background: #3aaf9f;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
}

.wrapper .form .btn a{
  color: #fff;
  text-decoration: none;
}

.wrapper .form .input_field i{
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 14px;
  color: #1d2120;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-size: 13px;

}
::-moz-placeholder { /* Firefox 19+ */
 color: #1d2120;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1d2120;
}
</style> 

<div class="wrapper">
  <div class="title">
    Register Here
  </div>
  <div class="social_media">
    <div class="item">
      <i class="fab fa-facebook-f"></i>
    </div>
    <div class="item">
      <i class="fab fa-twitter"></i>
    </div>
    <div class="item">
      <i class="fab fa-google-plus-g"></i>
    </div>
  </div>
  <form method="post"> {% csrf_token %}
  <div class="form">
    <div class="input_field">
      <input type="text" placeholder="Username" name='username' class="input">
      <i class="fas fa-user"></i>
    </div>

<!--     <div class="input_field">
      <input type="text" placeholder="Email" name='email' class="input">
      <i class="far fa-envelope"></i>
    </div> -->

<!--     <div class="input_field">
      <input type="text" placeholder="Phone Number" name='email' class="input">
      <i class="fa fa-phone" aria-hidden="true"></i>
      
    </div> -->

    <div class="input_field">
      <input type="password" placeholder="Password" name="password1" class="input">
      <i class="fas fa-lock"></i>
    </div>
	<div class="input_field">
		<input type="password" placeholder="Confirm Password" name='password2' class="input">
		<i class="fas fa-lock"></i>	
	</div>
	{% if 'error' in error %}
		<div class="alert alert-danger" role="alert">
			Kindly see and fill form
		</div>
	{% endif %}
    <button class="btn" style="color: white;">
      Register
    </button>
  </div>
  </form>
</div>	
	

{% endblock content %}